{% load static %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'web.jpg' %}" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">My SPA Django</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Web SPA Django merupakan web paling andal dan performa pada web menjadi semakin cepat dengan adanya teknologi ini memudahkan kita untuk membuat spa dengan cepat dan mudah.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-primary btn-lg px-4" data-bs-toggle="modal" data-bs-target="#helloModal">Click to See</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="helloModal" tabindex="-1" aria-labelledby="helloModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helloModalLabel">Info Masszzeehhhh!!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-center">Hallo, Selamat Datang Pengunjung di My SPA Web Django!!!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>