{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block 'content' %}
<div class="row">    
    <div class="col-md-10 col-lg-12" id="projects">
        <h1 class="text-center">Projects Me</h1>
        
        {% bootstrap_messages %}

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for project in data %}
            <div class="col">
              <div class="card">
                <!-- <img src="{% static 'tenaga-nuklir.jpg' %}" class="card-img-top" alt="..."> -->
                <img src="{{ project.thumbnail_url }}" class="card-img-top" alt="thumb-{{project.judul}}">
                <div class="card-body">
                  <h5 class="card-title">{{project.judul}}</h5>
                  <p class="card-text">{{project.deskripsi|truncatechars:90}}</p>
                  <a href="{% url 'detail' project.id %}" class="btn btn-md btn-primary">Lihat Selengkapnya...</a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 mt-5" id="contact">
        <h1 class="text-center my-2">Contact Me</h1>

        {% bootstrap_messages %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form forms %}
    
            <button class="btn btn-md btn-primary">
                Simpan
            </button>
        </form>
    </div>
</div>
{% endblock %}